<div id='activity' class='run-box' v-on:click='viewActivity(activity.id)'>
  <div class='run-box__detail'>
    <div class='heading truncate'>{{ activity.name }}</div>
    <div class='date'>{{ renderDate(activity.start_date) }}</div>
  </div>
  <div class='run-box__detail'>
    <div class='data-metric'>
      <div v-show="activity.type === 'Ride' || activity.type ==='Run'">
        <img src='../../assets/icon_distance.png' class='icon'/>
        {{ renderDistance(activity.distance) }}
      </div>
    </div>
    <div class='data-metric'>
      <img src="../../assets/icon_time.png" class="icon">
      {{ renderTime(activity.moving_time) }}
    </div>
    <div class='data-metric'>
      <img v-show="activity.type === 'Ride'" src='../../assets/icon_bike.png' class='icon'/>
      <img v-show="activity.type === 'Run'" src='../../assets/icon_run.png' class='icon'/>
      <div v-show="activity.type === 'Ride' || activity.type ==='Run'">
        {{ renderPace(activity.moving_time, activity.distance) }}
      </div>
    </div>
  </div>  
</div>