#hr-zones{
  display: flex;
  justify-content: center;
}

.hr {
  margin: 2px;
  padding: 5px;
  width: 45px;
  height: 50px;
  border-radius: 3px;
  background-color: var(--palette-cerulean);
}

.hr h5, h4 {
  margin: 0px;
  color: var(--palette-white);
}

.graph-hr-filter {
  width: 90px;
}

.btn-edit{
  position: absolute;
  right: 10px;
}