<div id='hr-zones' class='btn sub-bar col'>
  <div v-show='!showHRZonesForm' class='row'>
    <div class='hr col'>
      <h4>Z1</h4>
      <h5>{{ HRZones.z1 }}</h5>
    </div>
    <div class='hr col'>
      <h4>Z2</h4>
      <h5>{{ HRZones.z2 }}</h5>
    </div>
    <div class='hr col'>
      <h4>Z3</h4>
      <h5>{{ HRZones.z3 }}</h5>
    </div>
    <div class='hr col'>
      <h4>Z4</h4>
      <h5>{{ HRZones.z4 }}</h5>
    </div>
    <div class='hr col'>
      <h4>Z5</h4>
      <h5>{{ HRZones.z5 }}</h5>
    </div>
    <div class='hr col graph-hr-filter'>
      <h4>Graph filter</h4>
      <h5>{{ `${HRZones.graphHRFilter} bpm` }}</h5>
    </div>
  </div>
  <el-tooltip content='Set HR Zones' placement="left">
    <el-button @click='editHRZones' icon="el-icon-edit" size='mini' v-show='!showHRZonesForm' class='btn-edit' circle>
    </el-button>
  </el-tooltip>

  <hr-zones-form v-show='showHRZonesForm' :HRZones='HRZones' @onCloseForm='closeHRZonesForm'>
  </hr-zones-form>
</div>