<div id='year-stats' class='component-container container-colour--secondary'>
  <div class='container-title'>
    {{ currentYear }} Totals
  </div>
  <div class='year-detail-toggle' @click='toggleYearDetailView=!toggleYearDetailView'>
    <el-tooltip placement="right" :hideAfter='toggleTipTimeout' content='View year detail'>
      <span v-show='!toggleYearDetailView'>
        Show details
        <i class='el-icon-arrow-down btn' v-show='!toggleYearDetailView'></i>
      </span>
    </el-tooltip>

    <el-tooltip placement="left" :hideAfter='toggleTipTimeout' content='Hide year detail'>
      <span v-show='toggleYearDetailView'>
        Hide details
        <i class='el-icon-arrow-up btn' v-show='toggleYearDetailView'></i>
      </span>
    </el-tooltip>
  </div>
  <div class='col-to-row'>
    <stat-total type='run' :statType='stats.run' :toggleYearDetailView='toggleYearDetailView'></stat-total>
    <stat-total type='ride' :statType='stats.ride' :toggleYearDetailView='toggleYearDetailView'></stat-total>
    <stat-total type='swim' :statType='stats.swim' :toggleYearDetailView='toggleYearDetailView'></stat-total>
  </div>

</div>