.selectedLap {
  background-color: var(--palette-cerulean);
  color: var(--palette-white);
}

.lap{
  width: 100%;
  padding: 10px;
  display: grid;
  text-align: center;
  grid: 20px/ 20% 20% 20% 20% 20%;
}
