<div id='tri-stats-summary' class='col'>
  <div class="stat-row">
    <div class='row total-stat'>
      <div class='total-stat__value'>{{ totalActivitiesCount }}</div>
      <div v-show='showDisciplineCount' class='col'>
        <div class='row total-stat__substat'>
          <img class='icon--medium' src='../../../static/assets/svgs/icon_run.svg' />
          <h2>{{ countActivityType('Run') }}</h2>
        </div>
        <div class='row total-stat__substat'>
          <img class='icon--medium' src='../../../static/assets/svgs/icon_bike.svg' />
          <h2>{{ countActivityType('Ride') }}</h2>
        </div>
        <div class='row total-stat__substat'>
          <img class='icon--medium' src='../../../static/assets/svgs/icon_swim.svg' />
          <h2>{{ countActivityType('Swim') }}</h2>
        </div>
      </div>
    </div>
  </div>
</div>