#tri-stats-summary {
}  

.total-stat {
  text-align: center;
  animation-name: expandIn;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

.total-stat__value {
  font-size: 60px;
  margin-right: 10px;
}

.total-stat__substat h2 {
  margin: 0px 5px;
}  

.stat-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin: 10px 0;
}
