<div id='parkRunSubBar' class='row sa'>
  <router-link to="/parkRun" exact>
    <div class='data sub-nav-button'>
      <img src='../../assets/icon_park_run.png' class='sub-nav-icon'/>
    </div>
  </router-link>
  
  <router-link to="/parkRunActivities" exact>
    <div class='data sub-nav-button'>
      <img src='../../assets/icon_detail.png' class='sub-nav-icon'/>
    </div>
  </router-link>

  <router-link to="/parkRunSplits" exact>
    <div class='data sub-nav-button'>
      <img src='../../assets/icon_graph.png' class='sub-nav-icon'/>
    </div>
  </router-link>
</div>