<div id='parkRunSubBar' class='sub-bar row'>
  <router-link to="/parkRun" exact>
    <div class='data sub-nav-button'>
      <img src='../../../static/assets/icon_park_run_logo.png' class='sub-nav-icon' />
    </div>
  </router-link>

  <router-link to="/parkRunActivities" exact>
    <div class='data sub-nav-button'>
      <img src='../../../static/assets/svgs/icon_detail.svg' class='sub-nav-icon' />
    </div>
  </router-link>

  <router-link to="/parkRunSplits" exact>
    <div class='data sub-nav-button'>
      <img src='../../../static/assets/svgs/icon_graph.svg' class='sub-nav-icon' />
    </div>
  </router-link>
</div>