<div id='activity-dock' class='col'>
  <div class='dock-type icon__circle'>
    <img v-show="activity.type === 'Ride'" src='../../../static/assets/svgs/icon_bike--light.svg'
      class='icon--large icon' />
    <img v-show="activity.type === 'VirtualRide'" src='../../../static/assets/svgs/icon_bike--light.svg'
      class='icon--large icon' />
    <img v-show="activity.type === 'Run'" src='../../../static/assets/svgs/icon_run--light.svg'
      class='icon--large icon' />
    <img v-show="activity.type === 'Swim'" src='../../../static/assets/svgs/icon_swim--light.svg'
      class='icon--large icon' />
    <img v-show="activity.type === 'Workout'" src='../../../static/assets/icon_activities.png'
      class='icon--large icon' />
  </div>
  <div class='dock_items row sa'>
    <div class='dock_item col' @click='setDockItem("laps")'>
      <h6>LAPS</h6>
      <img src='../../../static/assets/svgs/icon_laps.svg' class='btn icon--medium' />
      <h2>{{ laps && laps.length }}</h2>
    </div>
    <div class='dock_item col' @click='setDockItem("kudos")'>
      <h6>KUDOS</h6>
      <img src='../../../static/assets/svgs/icon_like.svg' class='btn icon--medium' />
      <h2>{{ kudos && kudos.length }}</h2>
    </div>
    <div class='dock_item col' @click='setDockItem("comments")'>
      <h6>COMMENTS</h6>
      <img src=' ../../../static/assets/svgs/icon_comment.svg' class='btn icon--medium' />
      <h2>{{ comments && comments.length }}</h2>
    </div>
  </div>


  <div class='component-container'>

    <!-- <div show='photoCount> 0'>
      <el-carousel indicator-position="outside" v-show='displayPhotos' :autoplay='false'>
        <el-carousel-item v-for="photo in photos" :key="photo.index">
          <div class='col'>
            <img class='photo' :src="photo.urls['1000']" />
          </div>
        </el-carousel-item>
      </el-carousel>
    </div> -->


    <!-- 
    <div id="laps-detail" class="col sb">
      <div id='lap-calc-result' class='row sa' v-show='lapMarkers.length === 2 && !createSession'>
        <h2>{{ lapCountInCalc }}</h2>
        <h2 v-show="activity.type === 'Ride' || activity.type ==='Run' || activity.type === 'VirtualRide'">
          {{ renderDistance(lapCalcDistanceResult) }}
        </h2>
        <h2 v-show="activity.type === 'Swim'">{{ renderSwimDistance(lapCalcDistanceResult) }}</h2>
        <h2>{{ renderTime(lapCalcTimeResult) }}</h2>
        <h2 v-show="activity.type === 'Ride' || activity.type ==='Run' || activity.type === 'VirtualRide'">
          {{ renderPace(lapCalcTimeResult, lapCalcDistanceResult)}}</h2>
        <h2 v-show="activity.type === 'Swim'">{{ renderSwimPace(lapCalcTimeResult, lapCalcDistanceResult)}}</h2>
        <img src='../../../static/assets/svgs/icon_cross.svg' class='icon' @click='clearLapMarkers()' />
      </div>

      <div class='row create-session'>
        <el-button type="primary" plain icon="el-icon-plus" size='mini' @click='toggleCreateSession'
          v-show='!createSession'>Session
        </el-button>
      </div>

      <activity-session :createSession='createSession' :sessionEfforts='sessionEfforts'
        :sessionEffortsMergeMarkers='sessionEffortsMergeMarkers' v-on:onResetSessionEfforts='resetSessionEfforts'
        v-on:onCloseSession='toggleCreateSession'>
      </activity-session>

      <div v-for='lap in laps' :key='lap.index'>
        <lap-item class="row sa lap" :lap='lap' :activity='activity' :lapMarkers='lapMarkers'
          :sessionEfforts='sessionEfforts' :createSession='createSession' v-on:onMarkLapChange='setLapMarker($event)'
          v-on:onSessionMarkLapChange='setSessionLapMarker($event)'
          v-on:onSessionMarkLapMerge='setSessionLapMergeMarker($event)'>
        </lap-item>
      </div>
    </div> -->

    <div v-show='toggleLaps'>
      <div id="laps-detail">
        hello laps
        <!-- <div class='col' v-for='lap in laps' :key='kudo.index'>
          <div class='lap'>
            <h5>{{ lap }}</h5>
          </div>
        </div> -->
      </div>
    </div>

    <div v-show='activity.kudos_count > 0 && toggleKudos'>
      <div id="kudos-detail">
        <div class='col' v-for='kudo in kudos' :key='kudo.index'>
          <div class='kudo'>
            <h5>{{ kudo.firstname }} {{ kudo.lastname }}</h5>
          </div>
        </div>
      </div>
    </div>


    <div id="comments-detail" class="col sb " v-show='activity.comment_count > 0 && toggleComments'>
      <div v-for='comment in comments' :key='comment.index'>
        <h3>
          <strong>{{ comment.athlete.firstname }}{{ comment.athlete.lastname }}</strong>
          <br>
          {{ comment.text }}
        </h3>
      </div>
    </div>


  </div>

  <div class='description'>
    <h4>{{ activity.description }}</h4>
  </div>
</div>