#activity-dock{
  background: var(--palette-columbian);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  position: relative;
  margin-top: -25px;
}

.dock-type{
  position: absolute;
  margin: -20px;
  left: 50px;
  box-shadow: 0px 10px 20px var(--palette-cerulean);
}

.dock-items{
  width: 100%;
  margin-top: 70px;
}

.dock-item{
  display: flex;
  justify-content: center;
  width: 120px;
  border-bottom: 2px solid var(--palette-columbian)
}

.dock-item:hover {
  border-bottom: 2px solid var(--palette-cerulean)
}

.dock-item h1, h6 {
  margin: 0.5rem;
}

.selectedDockItem {
  border-bottom: 2px solid var(--palette-tea);
}

.dock-items-detail {
  width: 100vw;
}

.description{
  white-space: pre-wrap;
  align-items: center;
  margin: 0 1rem;
}

.photo{
  width: auto;
  height: 260px;
}

#kudos-detail{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 20% 20% 20% 20% 20%;
  color: var(--palette-eerie-black);
  margin-top: 1rem;
}

.kudo {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 1px solid var(--palette-eerie-black);
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  margin: 5px;
}

#comments-detail{
  align-items: unset;
  color: var(--palette-eerie-black);
  width: 100vw;
  margin: 0 1rem;
}

#laps-detail {
  margin: 1rem;
}
.lap {
  width: 100vw;
}

#lap-calc-result {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: var(--palette-cerulean);
  color: var(--palette-white);
  margin: 10px 0;
  z-index: 1;
}

.create-session{
  padding-bottom: 15px;
  width: 100%;
  justify-content: flex-start !important;
}

.chart{
  background: var(--palette-cerulean);
}

.fullpage{
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: var(--palette-cerulean);
  right: -8px;
  top: -8px;
  border-radius: 0px;
  z-index: 10000;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
}

.exitFullpage{
  height: 100%;
  width: 100%;
  position: relative;
  right: 0;
  top: 0;
}


.close-chart{
  color: var(--palette-white);
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 10001;
}

.expand-chart{
  color: var(--palette-white);
  display: flex;
  justify-content: flex-end;
  position: relative;
  right: 20px;
  top: 45px;
  cursor: pointer;
  z-index: 2;
}