#activity-dock{
  background: var(--palette-columbian);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  position: relative;
  margin-top: -25px;
}

.dock-type{
  position: absolute;
  margin: -20px;
  left: 50px;
  box-shadow: 0px 10px 20px var(--palette-cerulean);
}

.dock_items{
  width: 100%;
  margin-top: 50px;
}

.dock_item{
  display: flex;
  justify-content: center;
  width: 120px;
}

.dock_item:hover {
  border-radius: 5px;
  color: var(--palette-tea);
  background-color: var(--palette-cerulean);
  box-shadow: 0px 10px 20px var(--palette-cerulean);
  border-bottom: 2px solid var(--palette-cerulean);
}

.dock_item h1, h6 {
  margin: 0.5rem;
}

.description{
  width: 100%;
  padding: 0 30px;
  white-space: pre-wrap;
  align-items: center;
}

#kudos-detail{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 20% 20% 20% 20% 20%;
  color: var(--palette-eerie-black);
}

.kudo {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 1px solid var(--palette-eerie-black);
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  margin: 5px;
}

#comments-detail{
  margin: 10px 0;
  align-items: unset;
  padding: 0 2rem;
  color: var(--palette-eerie-black);
  width: 100vw;
}

.selectedDetail {
  /* border: 1px solid var(--palette-cerulean); */
  /* box-shadow: 0px 10px 20px var(--palette-cerulean); */

  border-bottom: 2px solid var(--palette-tea);
}