#activity-dock{
  background: var(--palette-columbian);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  position: relative;
  margin-top: -25px;
}

.dock-type{
  position: absolute;
  margin: -20px;
  left: 50px;
  box-shadow: 0px 10px 20px var(--palette-cerulean);
}

.dock-items{
  width: 100%;
  margin-top: 70px;
}

.dock-item{
  display: flex;
  justify-content: center;
  width: 120px;
}

.dock-item:hover {
  border-radius: 5px;
  background-color: var(--palette-tea);
  box-shadow: 0px 10px 20px var(--palette-cerulean);
}

.dock-item h1, h6 {
  margin: 0.5rem;
}

.selectedDockItem {
  border-bottom: 2px solid var(--palette-tea);
}

.dock-items-detail {
  width: 100vw;
}

.description{
  width: 100%;
  white-space: pre-wrap;
  align-items: center;
}

.photo{
  width: auto;
  height: 260px;
}

#kudos-detail{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 20% 20% 20% 20% 20%;
  color: var(--palette-eerie-black);
}

.kudo {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 1px solid var(--palette-eerie-black);
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  margin: 5px;
}

#comments-detail{
  align-items: unset;
  color: var(--palette-eerie-black);
  width: 100vw;
}

