#week-activities-mini {
  justify-content: space-evenly;
  color: #3066BE;
  align-items: flex-end;
  bottom: 30%;
  margin-right: auto;
  margin-left: auto;
  width: 100vw;
  min-height:100px; 
}

.active {
  color: #AEECEF!important;
  background-color: #3066BE!important;
}

.day-container {
  background-color: #AEECEF ;
  width: 45px;
}

.day-bar {
  animation: riseUp 1s backwards;
  background-color: #3066BE;
  color: #AEECEF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px 0;
  height: 35px;
}

.day-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}

.day{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  pointer-events: none;
  color: white;
  font-size: 10px;
}

.week-detail-btn{
  float: right;
  margin-top: 0px;
  margin-right: 10px;
}

.el-button{
  color: white;
}

@keyframes riseUp {
  0% {
    opacity: 0;
    height: 0px;
  }
  
  100% {
    opacity: 1;
    height: 35px;
    }
}