#week-activities-mini {
  justify-content: space-evenly;
  align-items: flex-end;
  bottom: 30%;
}


.day-container {
  background-color: var(--palette-smalt) ;
  width: 45px;
}

.day-bar {
  animation: riseUp 1s backwards;
  background-color: var(--palette-cerulean);
  color: var(--palette-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px 0;
  height: 35px;
}

.day-title {
  color: var(--palette-white);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}

.activity-hover {
  cursor: pointer;
}

@keyframes riseUp {
  0% {
    opacity: 0;
    height: 0px;
  }
  
  100% {
    opacity: 1;
    height: 35px;
  }
}