<div class='week-activities-mini row sb'>
  <div class='day' v-for='day in dayLookUp' :key='day.index'>
    <div class='day__bar' v-for='activity in dayActivities(day)' :key='activity.index'
      @click='viewActivity(activity.id)'>
      <el-tooltip placement="top">
        <div slot="content" @click='viewActivity(activity.id)' class='btn'>
          {{ activity.name }}<br />{{ renderDistance(activity.distance) }}
        </div>
        <img :src='getActivityTypeIcon(activity.type, "light")' class='icon--medium'/>
      </el-tooltip>
    </div>
    <div class='day__title'>{{ (day.substr(0, 1)).toUpperCase() }}</div>
  </div>
</div>