#week-activities-mini {
  justify-content: space-evenly;
  color: #AEECEF;
  margin: 40px 0;
}

.active {
  background-color: #3066BE;
}

.day-bar {
  color: #AEECEF;
  width: 45px;
  height: 45px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  border: 1px solid #AEECEF;
}

.day-title {
  display: flex;
  justify-content: center;
}

.day{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  pointer-events: none;
  color: white;
  font-size: 10px;
}