#auth{
  background: linear-gradient(to bottom right, #6D9DC5 , #3066BE);
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.strava-container{
  align-items: center;
  margin-top: 200px;
}
#auth img {
  height: 15px;
  width: auto;
  padding: 5px;
}

#strava-button{
  background-color: #3066BE;
  color: #80DED9;
  height: auto;
  width: 120px;
  border-radius: 5px;
  font-family: "gill sans";
  font-size: 10px;
  padding: 12px;
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  border: 1px solid #80DED9;
}
