#auth{
  display: block;
  height: 100vh;
  font-size: 18px;
  background: var(--palette-flash);
}

.button-contents{
  pointer-events: none;
  padding: 10px;
}

.strava {
  height: 15px;
  width: auto;
}

#strava-button{
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
  height: 100px;
  width: 160px;
  border-radius: 5px;
  font-family: "gill sans";
  font-size: 10px;
  color: var(--palette-cerulean);
  background: var(--palette-columbian);
  z-index: 3;
}

#strava-button:hover{
  border: 1px solid var(--palette-cerulean);
  box-shadow: 0px 5px 10px var(--palette-columbian);
}