<div class='component-container container-colour--secondary'>
  <div class='row sb'>
    <img class='icon--large' src='../../../static/assets/svgs/icon_heartrate.svg' />
    <div class='col sb month-hr__summary'>
      <div v-show='lowestMaxHR || highestMaxHR'>
        Max HR
        <i class="el-icon-sort-down" size='mini'></i>
        {{ lowestMaxHR }}
        <i class="el-icon-sort-up" size='mini'></i>
        {{ highestMaxHR }}
      </div>

      <div v-show='lowestAvgHR || highestAvgHR'>
        Avg HR
        <i class="el-icon-sort-down" size='mini'></i>
        {{ lowestAvgHR }}
        <i class="el-icon-sort-up" size='mini'></i>
        {{ highestAvgHR }}
      </div>
    </div>
  </div>

  <div @click='displayMaxAvgHRChart=!displayMaxAvgHRChart'>
    <el-tooltip placement="right" :hideAfter='toggleTipTimeout' content='View HR chart'>
      <span v-show='!displayMaxAvgHRChart'>
        Show Pace/HR chart
        <i class='el-icon-arrow-down btn' v-show='!displayMaxAvgHRChart'></i>
      </span>
    </el-tooltip>

    <el-tooltip placement="left" :hideAfter='toggleTipTimeout' content='Hide HR chart'>
      <span v-show='displayMaxAvgHRChart'>
        Hide Pace/HR chart
        <i class='el-icon-arrow-up btn' v-show='displayMaxAvgHRChart'></i>
      </span>
    </el-tooltip>
  </div>


  <el-tooltip content='Full screen' placement="left">
    <i class='expand-chart el-icon-full-screen btn el-icon--medium btn'
      v-show='!fullPageHRChart && displayMaxAvgHRChart' @click='fullPageHRChart=!fullPageHRChart'></i>
  </el-tooltip>

  <div id='avg-heartrate-pace-chart' v-show='displayMaxAvgHRChart' :class='{fullpage:fullPageHRChart}'>
  </div>
  <i class='close-chart el-icon-close btn el-icon--medium' v-show='displayMaxAvgHRChart && fullPageHRChart'
    @click='fullPageHRChart=!fullPageHRChart'></i>
</div>
