#parkRunActivities{
  background: linear-gradient(to bottom right, #6D9DC5 , #3066BE);
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom right, #6D9DC5 , #3066BE);
  font-size: 16px;
  height: 85%;
  overflow-x: hidden;
  overflow-y: scroll;
}