<div class='big-stat-total col'>
  <div v-show='type === "distance"' class='col'>
    <img class='icon icon__large' src='../../../static/assets/icon_distance.png' />
    <h2>{{ totalDistance }}</h2>
  </div>

  <div v-show='type === "time"' class='col'>
    <img class='icon icon__large' src='../../../static/assets/icon_time.png' />
    <h2>{{ totalTime }}</h2>
  </div>

  <div v-show='type === "elevation"' class='col'>
    <img class='icon icon__large' src='../../../static/assets/icon_elevation.png' />
    <h2>{{ totalElevation }}</h2>
  </div>
</div>