<div id='activity' class='activity-box row sb' @click='viewActivity(activity.id)'>
  <img v-show="activity.type === 'Ride'" src='../../../static/assets/svgs/icon_bike.svg' class='icon icon__circle' />
  <img v-show="activity.type === 'VirtualRide'" src='../../../static/assets/svgs/icon_bike.svg'
    class='icon icon__circle' />
  <img v-show="activity.type === 'Run'" src='../../../static/assets/svgs/icon_run.svg' class='icon icon__circle' />
  <img v-show="activity.type === 'Swim'" src='../../../static/assets/svgs/icon_swim.svg' class='icon icon__circle' />
  <img v-show="activity.type === 'Workout'" src='../../../static/assets/icon_activities.png'
    class='icon icon__circle' />

  <div class='activity-box__detail'>
    <div class='row sb'>
      <div class='heading truncate'>{{ activity.name }}</div>
      <div class='date'>{{ renderDate(activity.start_date) }}</div>
    </div>
    <div class='row'>
      <div class='data-metric space'
        v-show="activity.type === 'Ride' || activity.type ==='Run' || activity.type === 'Workout'">
        {{ renderDistance(activity.distance) }}
      </div>
      <div class='data-metric space' v-show="activity.type === 'Swim'">
        {{ renderSwimDistance(activity.distance) }}
      </div>
      <div class='data-metric space'>
        {{ renderTime(activity.moving_time) }}
      </div>
      <div class='data-metric space'
        v-show="activity.type === 'Ride' || activity.type ==='Run' || activity.type === 'Workout'">
        {{ renderPace(activity.moving_time, activity.distance) }}
      </div>
      <div class='data-metric space' v-show="activity.type === 'Swim'">
        {{ renderSwimPace(activity.moving_time, activity.distance) }}
      </div>
    </div>
  </div>
</div>