#activity{
  overflow-x:hidden;
}

@keyframes enterActivity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.activity-box{
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px var(--palette-white) solid;

  animation-name: enterActivity;
  animation-duration: 1s;
  animation-direction: forward;
  transition: 0.5s;
}

.activity-box:hover{
  background-color: var(--palette-tea);
  color: var(--palette-smalt);
}

.activity-box__detail{
  width: 95%;
  justify-content: flex-start;
  text-align: left;
  margin-left: 10px;
}

.space{
  margin-right: 30px;
}