#activity{
  overflow-x:hidden;
}

@keyframes enterActivity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.activity-box{
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px var(--palette-white) solid;
  width: 100%;

  animation-name: enterActivity;
  animation-duration: 1s;
  animation-direction: forward;
  transition: 0.5s;
}

.activity-box__data{
  width: 100%;
  margin-left: 10px;
  align-items: flex-start;
}

.activity-box:hover{
  background-color: var(--palette-tea);
  color: var(--palette-smalt);
}

.activity-box__detail{
  text-align: left;
}

td{
  width: 60px;
  font-size: 14px;
}

.activity-box__header{
  width: 100%;
  margin-bottom: 10px;
}
