#filter-bar{
  overflow-x:hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px;
  width: 100vw;

  animation-name: expandSubBar;
  animation-duration: 0.5s;
}

.filter-icon {
  border: none;
  padding: 5px;
  filter: opacity(40%) blur(1px);
  box-sizing: content-box;
  cursor: pointer;
}

.selectedFilter {
  filter: opacity(100%);
  border-bottom:solid 2px var(--palette-cerulean);
}