<div id='filter-bar'>
  <img class='icon filter-icon' v-bind:class='{ selectedFilter: toggleFilterSwim }' src='../../../static/assets/icon_swim.png' v-on:click='setSwimFilter'>
  <img class='icon filter-icon' v-bind:class='{ selectedFilter: toggleFilterRide }' src='../../../static/assets/icon_bike.png' v-on:click='setBikeFilter'>
  <img class='icon filter-icon' v-bind:class='{ selectedFilter: toggleFilterRun }' src='../../../static/assets/icon_run.png' v-on:click='setRunFilter'>
  <img class='icon filter-icon' v-bind:class='{ selectedFilter: toggleFilterWorkout }' src='../../../static/assets/icon_activities.png' v-on:click='setWorkoutFilter'>
</div>