<div id='filter-bar'>
  <p>Filter by: </p>
  <div v-show='showActivityFilter("Swim")' :class='{ selectedFilter: toggleFilterSwim }' class='btn filter-item'
    @click='setFilter("SWIM")'>
    <img class='icon icon--small' src='../../../static/assets/svgs/icon_swim--dark.svg'>
  </div>

  <div v-show='showActivityFilter("Ride")' :class='{ selectedFilter: toggleFilterRide }' class='btn filter-item'
    @click='setFilter("RIDE")'>
    <img class='icon icon--small' src='../../../static/assets/svgs/icon_bike--dark.svg'>
  </div>

  <div v-show='showActivityFilter("Run")' :class='{ selectedFilter: toggleFilterRun }' class='btn filter-item'
    @click='setFilter("RUN")'>
    <img class='icon icon--small' src='../../../static/assets/svgs/icon_run--dark.svg'>
  </div>

  <div v-show='showActivityFilter("Workout")' :class='{ selectedFilter: toggleFilterWorkout }' class='btn filter-item'
    @click='setFilter("WORKOUT")'>
    <img class='icon icon--small' src='../../../static/assets/icon_activities--dark.png'>
  </div>
</div>