<div id='filter-bar'>
  <p>Filter showing: </p>
  <img class='icon filter-icon' :class='{ selectedFilter: toggleFilterSwim }'
    src='../../../static/assets/svgs/icon_swim.svg' @click='setFilter("SWIM")'>
  <img class='icon filter-icon' :class='{ selectedFilter: toggleFilterRide }'
    src='../../../static/assets/svgs/icon_bike.svg' @click='setFilter("RIDE")'>
  <img class='icon filter-icon' :class='{ selectedFilter: toggleFilterRun }'
    src='../../../static/assets/svgs/icon_run.svg' @click='setFilter("RUN")'>
  <img class='icon filter-icon' :class='{ selectedFilter: toggleFilterWorkout }'
    src='../../../static/assets/icon_activities.png' @click='setFilter("WORKOUT")'>
</div>