#filter-bar{
  overflow-x:hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 15px;
  width: 100vw;

  animation-name: expandSubBar;
  animation-duration: 0.5s;
}

.selectedFilter {
  border-bottom:solid 2px var(--palette-cerulean);
}

.filter-item{
  margin: 5px;
}