<div id='weather' class='row sa data' v-if='weather'>
  <div>
    <i class="el-icon-place"></i>
    {{ locationName }}
  </div>
  <div>
    <i class="el-icon-cloudy-and-sunny"></i>
    {{ description }}
  </div>
  <div>
    <img src='../../../static/assets/icon_thermometer.png' class='icon' />
    {{ renderDegTemp(temp) }}
  </div>
  <el-tooltip placement='bottom' content='Wind speed and direction' :openDelay='1500'>
    <div>
      <i class="el-icon-wind-power"></i>
      {{ renderWindSpeed(windSpeed) }}
      <i class="el-icon-top wind-direction" :style='windDegreesStyle'></i>
    </div>
  </el-tooltip>
</div>