.wind-circle{
  border: white solid 1.2px;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.wind-arrow {
  position: absolute;
  left: 1.2rem;
  top: -1.3rem;
}

.wind-direction {
  transform-origin: 0.75rem 3.25rem;

  animation-name: rotateTo;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

.weather-item {
  align-content: center;
  justify-content: space-around;
  align-items: center;
  margin: 10px;

  animation-name: expandIn;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

.temperature {
  margin-bottom: 35px;
}


@keyframes rotateTo {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(var(--degrees));
  }
}

/* responsive css  */
@media all and (max-width: 1000px) {
  .weather-item{
    margin: 0px;
  }

  .temperature {
    margin-bottom: 1.5rem;
  }
}