#view-activity {
  /* background: linear-gradient(to bottom right, #6D9DC5 , #3066BE); */
  height: 100%;
}

#activity-info{
  position: relative;
  padding-bottom: 20px;
  display: block;
  flex-direction: column;
  z-index: 1;
  width: 100%;
  color: white;
  /* background: linear-gradient(to bottom right, #6D9DC5 , #3066be); */
}

#activity-info__header {
  padding: 10px;
}

.lap {
  width: 100vw;
}
#laps-detail{
  margin: 10px 0;
}

#kudos-detail{
  margin: 10px 0;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 20% 20% 20% 20%;
}

#comments-detail{
  margin: 10px 0;
  align-items: unset;
  padding: 5px;
}

#photos-detail {
  margin-top: 20px;
}

.photo{
  height: auto;
  width: 98%;
  margin: 2px;
}

#lap-calc-result {
  width: 100vw;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: #3066BE;
}

.createSessionBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  margin-left:15px;
}

.createSessionBtn img {
  margin: 0px;
}

.description{
  margin: 10px 30px;
  font-size: 12px;
  white-space: pre-wrap;
  text-align: center;
}