#view-activity {
  background: #6D9DC5;
}

#activity-info{
  z-index: 1;
  color: white;
}

#activity-info__header {
  width: 100%;
  position: sticky;
  padding: 20px;
  padding-bottom: 30px;
  top: 0;
  z-index: 3;
  background-color: #6D9DC5;
}

.activity-info__subbar{
  justify-content: space-between;
  margin-bottom: 15px;
}

.activity-info__subbar h2{
  padding: 0px
}

.header-background{
  width: 100vw;
  height: 240px;
  max-height: 300px;
  filter: opacity(30%);
  background-size: cover;
  background-position: top;
}

#activity-info__main {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: center;
}

.create-session{
  padding-bottom: 15px;
  width: 100%;
  justify-content: flex-start !important;
}

.lap {
  width: 100vw;
}
#laps-detail{
  margin: 10px;
  background-color: transparent;
}

#kudos-detail{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 20% 20% 20% 20% 20%;
  color: white;
}

#comments-detail{
  margin: 10px 0;
  align-items: unset;
  padding: 5px;
  color: white;
}

#photos-detail {
  margin-top: 20px;
}

.photo{
  width: auto;
  height: 300px;
}


#lap-calc-result {
  width: 100vw;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: #3066BE;
  color: white;
  margin: 10px 0;
  z-index: 1;
}

.create-session-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  margin-left:15px;
  color: white;
}

.description{
  margin: 20px;
  font-size: 14px;
  white-space: pre-wrap;
  align-items: center;
}

.kudo {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 1px solid white;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  margin: 5px;
}
