#view-activity {
  background: linear-gradient(to bottom right, #6D9DC5 , #3066BE);
  height: 100vh;
}

#activity-info{
  position: relative;
  display: block;
  flex-direction: column;
  z-index: 1;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden; 
  color: white;
  background: linear-gradient(to bottom right, #6D9DC5 , #3066bebf);
}

#activity-info__header {
  padding: 10px;
}

.lap {
  width: 100vw;
}
#laps-detail{
  margin: 10px 0;
}

#kudos-detail{
  margin: 10px 0;
  display: grid;
  align-items: center;
  grid-template-rows: 38% 100px auto;
  justify-content: center;
  grid-template-columns: 20% 20% 20% 20%;
}

#comments-detail{
  margin: 10px 0;
  align-items: unset;
  padding: 5px;
}

#photos-detail {
  margin-top: 20px;
}

.photo{
  height: auto;
  width: 98%;
  margin: 2px;
}