@keyframes expandSubBar {
  0% {
    height: 0px;
    opacity: 0;
  }
  100% {
    height: 30px;
    opacity: 1;
  }
}

@keyframes expandIn {
  0% {
    opacity: 0;
    transform: scale(0.5)
  }
  
  60% {
    transform: scale(1.1)
  }
  
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* EXPAND PANELS / COLLAPSE PANELS */

.expanded {
  animation-name: expandDown;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.collapsed {
  animation-name: closeUp;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes expandDown {
  0% {
    height: 0px;
    opacity: 0;
  }
  100% {
    height: var(--animationHeightStyle);
    opacity: 1;
  }
}

@keyframes closeUp {
  0% {
    height: var(--animationHeightStyle);
    opacity: 1;
  }
  100% {
    height: 0px;
    opacity: 0;
  }
}