:root {
  --palette-columbian: #C6D5ED;
  --palette-cerulean: #3066BE;


  --palette-smalt: #043296;
  --palette-tea: #D0EFB1;

  --palette-white: #FFFFFF;
  --palette-flash: #ECF1F9;

  --palette-black: #000000;
  --palette-eerie-black: #171717;
  --palette-outer-space: #454545;
}