.component-container {
  border-radius: 3px;
  padding: 1rem;
  margin: 0.5rem;
  background: linear-gradient(to bottom right, #3066be, #6d9dc5);
  border: white 1px solid;
}

.container-title {
  font-size: 1.5rem;
}

/* dynamic containers */
.col-to-row{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* responsive css  */
@media all and (max-width: 1000px) {
  .col-to-row {
    flex-direction: row;
  }

  .container-title {
    font-size: 1.2rem;
  }
}
