#home {
 display: block;
}

.week-stats{
  justify-content: space-around;
}

.week-detail-btn{
  text-align: center;
  margin: 20px;
  cursor: pointer;
}

/* responsive css */
@media all and (max-width: 1000px) {
  .week-stats {
    justify-content: space-between;
  }
}