#home {
 display: block;
 width: 100%;
}

#content{
  /* outline: 1px red solid; */
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: -10px;
}

#content_main{
  /* outline: 1px blue solid; */
  width: 80%;
  display: block;
}

#content_side--left{
  /* outline: 1px green solid; */
  width: 20%;
  display: block;
}

.week-stats{
  justify-content: space-around;
}

.week-detail-btn{
  text-align: center;
  margin: 20px;
  cursor: pointer;
}


/* responsive css  */
@media all and (max-width: 1000px) {
  #content {
    flex-direction: column;
  }

  #content_side--left{
    width: 100%;
  }

  #content_main{
    width: 100%;
  }
}