#swim {
  height: 100%;
  padding-bottom: 20px;
}

.swim-form{
  display: flex;
  flex-direction: column;
}

.subheading{
  margin: 10px;
}

input{
  margin: 10px 0px;
  border: none;
  border-radius: 3px;
  padding: 5px;
}

label{
  font-size: 12px;
}

img{
  height: 50px;
  width: auto;
}
.swim-logo{
  margin-top: 15px;
}

.strava-logo{
  height: 10px;
  width: auto;
  margin-bottom: 5px;
}

.swim-instructions {
  margin: 20px;
}

