#swim {
  height: 100%;
  padding-bottom: 40px;
}

[hidden] {
  display: none !important;
}

.swim-form{
  display: flex;
  flex-direction: column;
}

.subheading{
  margin: 10px 20px 25px 20px;
}

.strava-status{
  text-align: center;
  white-space: pre-wrap;
}

input{
  margin: 10px 0px;
  border: none;
  border-radius: 3px;
  padding: 5px;
}

label{
  font-size: 12px;
}

img{
  height: 50px;
  width: auto;
}
.swim-logo{
  margin-top: 15px;
}

.strava-logo{
  height: 10px;
  width: auto;
  margin-bottom: 5px;
}

.tick-icon{
  height: 40px;
  width: auto;
  margin: 20px;
  animation-name: fade-in;
  animation-duration: 2s;
}

@keyframes fade-in {
  from {
    filter: opacity(0%)
  }
  to {
    filter: opacity(100%)
  }
}

.disabled {
  background-color: gray;
}

