.tri-stats__count {
  justify-content: center;
  display: flex;
  width: 40px;
  font-size: 24px;
}

.tri-stats__discipline {
  margin: 5px;
}

.tri-stats__chart-bar {
  border-bottom: var(--palette-white) solid 6px;
  margin-left: 5px;
}