<div class='component-container container-colour--secondary animExpandIn'>
  <div class='row tri-stats__discipline'>
    <img class='icon--medium' :src='getActivityTypeIcon("Swim", "light")' />
    <div class='tri-stats__count'>{{ stats.swim.count }}</div>
    <div class='tri-stats__chart-bar' :style='{width:`${stats.swim.distance/1000/maxDistance*100}%`}'>
      {{ renderDistance(stats.swim.distance, true) }}</div>
  </div>
  <div class='row tri-stats__discipline'>
    <img class='icon--medium' :src='getActivityTypeIcon("Ride", "light")' />
    <div class='tri-stats__count'>{{ stats.ride.count }}</div>
    <div class='tri-stats__chart-bar' :style='{width:`${stats.ride.distance/1000/maxDistance*100}%`}'>
      {{ renderDistance(stats.ride.distance, true) }}</div>
  </div>
  <div class='row tri-stats__discipline'>
    <img class='icon--medium' :src='getActivityTypeIcon("Run", "light")' />
    <div class='tri-stats__count'>{{ stats.run.count }}</div>
    <div class='tri-stats__chart-bar' :style='{width:`${stats.run.distance/1000/maxDistance*100}%`}'>
      {{ renderDistance(stats.run.distance, true) }}</div>
  </div>
</div>