.month-stats__count {
  justify-content: center;
  display: flex;
  width: 40px;
  font-size: 24px;
}

.month-stats__chart-bar {
  margin: 1px;
}

.chart-bar {
  border-bottom: var(--palette-white) solid 6px;
  display: flex;
  flex-direction: row;
  margin-left: 5px;
}