#activities{
  height: 100vh;
  overflow: hidden;
}

.header{
  position: sticky;
  top: 0;
  padding-bottom: 20px;
}

.activities-list{
  height: 85vh;
  overflow-y: scroll;
}

.sub-bar{
  background-color: #6D9DC5;
  padding: 10px;
  align-items: flex-end;
}

.sub-bar__expanded{
  align-items: flex-end;
}

.filter{
  height: 16px;
}