#activities{
  overflow: hidden;
}

.header{
  position: sticky;
  top: 0;
  padding-bottom: 20px;
}

.tool-icon{
  z-index: 2;
}

.sub-bar__collapsed{
  width: 100vw;
  justify-content: flex-end;
  z-index: 2;
}

.sub-bar__collapsed .icon {
  cursor: pointer;
}

.sub-bar__expanded{
  width: 100vw;
  align-items: center;

}

.selectedButton {
  filter: opacity(40%) blur(1px);
  box-sizing: content-box;
}