#stat-bar{
  bottom: 0;
  position: relative;
  width: 100%;
  justify-content: center;
  margin-top: 40px;
}

.title-box{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #fff;
  font-size: 12px;
  background: #3066BE;
  margin: 0px;
}