#stat-bar{
  justify-content: center;
  cursor: pointer;
}

.title-box{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #fff;
  font-size: 12px;
  background: #3066BE;
  margin: 0px;
}

.year-detail-toggle {
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
}