#search-bar{
  height: 100%;
  overflow-x:hidden;
}

#search-icon {
  position: absolute;
  top: 17px;
  right: 55px;
}

input{
  margin: 5px 14px;
  border-radius: 2px;
  border: none;
  height: 20px;
  width: 94%;
}
