#search-bar{
  margin: 20px 5px 5px 5px;;
}

input{
  border-radius: 3px;
  background-color: white;
  border: none;
  height: 25px;
  width: 90vw;
  color: #3066BE;
  padding: 0 5px;
  z-index: 1;
}

#search-clear{
  float: right;
  right: 25px;
  margin-bottom: -22px;
  color: #3066BE;
  z-index: 2;
  position: relative;
  cursor: pointer;
}


/* responsive css  */
@media all and (max-width: 400px) {
  #search-clear{
    right: 8px;
  }
}