#search-bar{
  margin: 20px 5px 5px 5px;
  display: flex;
  align-items: center;
}

input{
  border-radius: 3px;
  background-color: white;
  border: none;
  height: 30px;
  width: 90vw;
  color: #3066BE;
  padding: 0 12px;
  z-index: 1;
}

#search-clear{
  cursor: pointer;
  margin-left: 6px;
  z-index: 2px;
}

/* responsive css  */
@media all and (max-width: 400px) {
  #search-clear{
    right: 8px;
  }
}