[hidden] {
  display: none !important;
}

#page-title {
  justify-content: center;
  width: 100%;
  position: absolute;
  display: flex;
}

#burger {
  visibility: hidden;
  position: absolute;
  top: 7px;
  right: 10px;
  cursor: pointer;
}

#burger img {
  pointer-events: none;
}

.expanded-burger {
  position: absolute;
  top: 0px;  
  right: 0px;
  width: 100vw;
  background-color: #3066be;
  padding: 10px;
  z-index: 9;
}

#burger-menu {
  z-index: 10;
  overflow-y: scroll;
  padding-top: 10%;
  
  animation-name: expandVertical;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}


@keyframes expandVertical {
  0% {
    height: 30px;
    filter: opacity(0%)
  }
  100% {
    height: 100%;
    filter: opacity(100%)
  }
}

.profile{
  margin-top: 30px;
}

.burger-item {
  margin: 25px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #AEECEF;
  text-decoration: none;
}

.burger-item:hover {
  border-left: 3px solid #AEECEF;
  color:#80DED9;
}

.close-icon {
  position: absolute;
  height: 30px;
  width: auto;
  right: 15px;
  top: 15px;
}

#openNavBar {
  display: flex;
  height: 60px;
  justify-content: flex-end;
}

#pagesBar {
  display: flex;
  visibility: visible;
  justify-content: space-around;
  width: 300px;
  padding: 0 20px;
}

.burger-icon {
  width: 50px;
  height: auto;
  margin: 0 10px;
  filter: invert(0%)
}

.button-active {
  background-color: #AEECEF;
  transform: scale(1.1);
  padding: 0 7px;
  border-radius: 5px;
}

.home-button {
  cursor: pointer;
  text-decoration: none;
  font-weight: 300;
  position: absolute;
  padding: 10px;
  top: 4px;
  left: 0px;
  font-size: 18px;
  line-height: 90%;
  z-index: 1;
  word-spacing: 100vw;
  color: transparent;

  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  
  animation-name: titleSettle;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.relative{
  position: relative;
}

@keyframes titleSettle {
  0% {
    width: 0px;
    background-color: transparent;
    opacity: 0;
  }
  100% {
    width: 70px;
    background-color: #3066BE;
    opacity: 100%;
    color: #AEECEF;
  }
}

.splits-button {
  position: absolute;
  display: flex;
  align-items: center;
  top: 50px;
  right: 5px;
  cursor: pointer;
  font-size: 12px;
  z-index: 0;
}

.graphs-button {
  right: 40px;
}

.button-icon {
  width: auto;
  height: 25px;
  margin: 0 5px;
}

/* responsive css  */
@media all and (max-width: 1000px) {
  #burger {
    visibility: visible;
  }

  #pagesBar {
    visibility: hidden;
  }
}