<div id='navBar'>
  <div id='openNavBar' class='row'>
    <router-link to="/" exact>
      <div class='data nav-button' id='home-button'>WIN RUNS</div>
    </router-link>

    <div id='page-title'>{{ pageTitle }}</div>

    <div id='pagesBar' class='row'>
      <router-link to="/runClub" exact>
        <div class='data nav-button'>
          <img src='../../assets/icon_run4it.png' class='nav-icon'/>
        </div>
      </router-link>

      <router-link to="/parkRun" exact>
        <div class='data nav-button'>
          <img src='../../assets/icon_park_run.png' class='nav-icon'/>
        </div>
      </router-link>

      <router-link to="/activities" exact>
        <div class='data nav-button'>
          <img src='../../assets/icon_activities.png' class='nav-icon'/>
        </div>
      </router-link>
    </div>
  </div>

  <img id='burger' src='../../assets/icon_burger.png' class='nav-icon' v-on:click='expandBurger = !expandBurger'/>

  <div id='burger-menu' class='expanded-burger' v-bind:hidden=!expandBurger v-on:click='expandBurger = !expandBurger'>
    <img class='close-icon' src='../../assets/icon_cross.png'/>

    <div class='col profile'>
      <img class='avatar-profile' :src='athlete.profile'/>
      <h4>{{ athlete.firstname }} {{ athlete.lastname }}</h4>
      <h6>{{ athlete.city }},  {{ athlete.state }}</h6>
    </div>  

    <div class='burger-item col'>
      <router-link to="/" exact>HOME</router-link>
    </div>
    <div class='burger-item col'>
      <img src='../../assets/icon_run4it.png' class='burger-icon'/>
      <router-link to="/runClub" exact>RUN CLUB</router-link>
    </div>
    <div class='burger-item col'>
      <img src='../../assets/icon_park_run_logo.png' class='burger-icon'/>
      <router-link to="/parkRun" exact>PARK RUN</router-link>
    </div>
    <div class='burger-item col'>
      <img src='../../assets/icon_activities.png' class='burger-icon'/>
      <router-link to="/activities" exact>ACTIVITIES</router-link>
    </div>
  </div>
</div>