[hidden] {
  display: none !important;
}
#navBar {
}

#page-title {
  justify-content: center;
  width: 100%;
  position: absolute;
  display: flex;
}

#burger {
  visibility: hidden;
  position: absolute;
  top: 7px;
  right: 10px;
  cursor: pointer;
}

#burger img {
  pointer-events: none;
}

.expanded-burger {
  position: absolute;
  top: 0px;  
  right: 0px;
  width: 98vw;
  height: 100vh;
  background-color: #3066be;
  padding: 10px;
  z-index: 2;
}

#burger-menu {
  animation-name: expand-vertical;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

.expanded-burger * {
  animation-name: fade-in;
  animation-duration: 0.7s;
}

@keyframes expand-vertical {
  from {
    height: 30px;
  }
  to {
    height: 100vh;
  }
}

@keyframes fade-in {
  from {
    filter: opacity(0%)
  }
  to {
    filter: opacity(100%)
  }
}
.profile{
  margin-top: 30px;
}

.avatar-profile{
  height: 80px;
  width: 80px;
  border-radius: 10%;
  margin: 10px;
}

.burger-item {
  margin: 50px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #AEECEF;
  text-decoration: none;
}

.burger-item:hover {
  border-left: 3px solid #AEECEF;
  color:#80DED9;
}

.close-icon {
  position: absolute;
  height: 30px;
  width: auto;
  right: 10px;
  filter: invert(100%);
}

#openNavBar {
  display: flex;
  justify-content: flex-end;
  padding: 5px 0;
  position: relative;
}

#pagesBar {
  display: flex;
  visibility: visible;
  justify-content: space-around;
  width: 300px;
  padding: 0 20px;
}

.burger-icon {
  width: 50px;
  height: auto;
  margin: 0 10px;
  filter: invert(0%)
}

.nav-button {
  cursor: pointer;
}

.button-active {
  background-color: #AEECEF;
  transform: scale(1.1);
  padding: 0 7px;
  border-radius: 5px;
}

#home-button {
  color: #AEECEF;
  font-family: sans-serif;
  font-weight: lighter;
  position: absolute;
  padding: 3px;
  padding-left: 10px;
  top: 4px;
  left: -5px;
  font-size: 18px;
  line-height: 90%;
  word-spacing: 100vw;
  
  animation-name: title-settle;
  animation-duration: 0.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes title-settle {
  from {
    width: 0px;
    background-color: transparent;
  }
  to {
    background-color: #3066BE;
    width: 60px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}

.splits-button {
  position: absolute;
  display: flex;
  align-items: center;
  top: 50px;
  right: 5px;
  cursor: pointer;
  font-size: 12px;
  z-index: 0;
}

.graphs-button {
  right: 40px;
}

.button-icon {
  width: auto;
  height: 25px;
  margin: 0 5px;
}

/* responsive css  */
@media all and (max-width: 1000px) {
  #burger {
    visibility: visible;
  }

  #pagesBar {
    visibility: hidden;
  }
}