<div v-show='showNav' class='row nav-bar'>
  <nav-bar-btn :pages='["/home"]' :btnIcon='"../../../static/assets/svgs/icon_home.svg"' :path="'/home'"
    :title='"Home"'>
  </nav-bar-btn>

  <nav-bar-btn :pages='["/activities"]' :btnIcon='"../../../static/assets/icon_activities--dark.png"'
    :path="'/activities'" :title='"Activities"'>
  </nav-bar-btn>

  <nav-bar-btn :pages='["/maf"]' :btnIcon='"../../../static/assets/icon_kilometer.png"' :path='"/maf"'
    :title='"MAF"'>
  </nav-bar-btn>

  <nav-bar-btn v-show='isElevatedProfile' :pages='[ "/parkRun", "/parkRunActivities", "/parkRunSplits" ]'
    :btnIcon='"../../../static/assets/svgs/icon_park_run_logo.svg"' :path="'/parkRunMain'" :title='"Park run"'>
  </nav-bar-btn>

  <nav-bar-btn v-show='isElevatedProfile' :pages='["/events"]'
    :btnIcon='"../../../static/assets/svgs/icon_events.svg"' :path='"/events"' :title='"events"'>
  </nav-bar-btn>

  <nav-bar-btn :pages='["/"]' :btnIcon='athlete && athlete.profile' :path="'/'" :title='"Profile"' v-show='athlete && athlete.profile'>
  </nav-bar-btn>

  <nav-bar-btn :pages='["/"]' :btnIcon='"../../../static/assets/svgs/icon_profile_female--dark.svg"' :path="'/'"
    :title='"Sign In"' v-show='!athlete'>
  </nav-bar-btn>
</div>
