[hidden] {
  display: none !important;
}

#page-title {
  justify-content: center;
  width: 100%;
  position: absolute;
  display: flex;
}

@keyframes expand-vertical {
  from {
    height: 30px;
  }
  to {
    height: 200px;
  }
}

#burger {
  visibility: hidden;
  position: absolute;
  top: 7px;
  right: 10px;
  cursor: pointer;
}

#burger img {
  pointer-events: none;
}

.expanded-burger {
  display: flex;
  flex-direction: column;
  visibility: visible;
  position: absolute;
  top: 0px;  
  right: -3px;
  width: 80vw;
  text-align: right;  
  background-color: white;
  padding: 10px;
  border-radius: 2px;
  z-index: 2;

  animation-name: expand-vertical;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.burger-item {
  height: 40px;
  margin: auto 0;
  align-items: center;
  justify-content: flex-start;
}

.burger-item a {
  color: #2c3e50;
  text-decoration: none;
}

.burger-item:hover {
  border-left: 3px solid slategray;
  background-color: rgba(62, 159, 223, 0.527);
}

#openNavBar {
  display: flex;
  justify-content: flex-end;
  padding: 5px 0;
  position: relative;
}

#pagesBar {
  display: flex;
  visibility: visible;
  justify-content: space-around;
  width: 300px;
  padding: 0 20px;
}

.burger-icon {
  width: 30px;
  height: auto;
  margin: 0 10px;
  filter: invert(60%)
}

.nav-button {
  cursor: pointer;
}

.button-active {
  background-color: #3E9FDF;
  transform: scale(1.1);
  padding: 0 7px;
  border-radius: 5px;
}

#home-button {
  background-color: #AEECEF;
  font-family: sans-serif;
  color: #3066BE;
  font-weight: lighter;
  position: absolute;
  padding: 3px;
  padding-left: 10px;
  top: 4px;
  left: -5px;
  font-size: 16px;
  line-height: 90%;
  word-spacing: 100vw;

  animation-name: title-settle;
  animation-duration: 0.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes title-settle {
  from {
    width: 0px;
    color: transparent;
  }
  to {
    width: 60px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}

.splits-button {
  position: absolute;
  display: flex;
  align-items: center;
  top: 50px;
  right: 5px;
  cursor: pointer;
  font-size: 12px;
  z-index: 0;
}

.graphs-button {
  right: 40px;
}

.button-icon {
  width: auto;
  height: 25px;
  margin: 0 5px;
}

/* responsive css  */
@media all and (max-width: 1000px) {
  #burger {
    visibility: visible;
  }

  #pagesBar {
    visibility: hidden;
  }
}