.main-stat {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 200px;
  min-width: 100px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.main-stat--value {
  font-size: 24px;
  margin-bottom: 10px;
}

.expanded-stats{
  margin-bottom: 20px;
}

.expanded {
  animation-name: expand-vertical;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  margin-top: 30px;
}

.expanded-stat-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes expand-vertical {
  from {
    height: 30px;
  }
  to {
    height: 90px;
  }
}