<div class='container'>
  <ul>
    <li>
      <div>
        {{ title }}
      </div>
      <div>
        {{ statTypeCount }}
      </div>
      <div>
        <img class='icon--stat' src='../../../static/assets/icon_distance.png'/>
      </div>
      <div>
        {{ renderDistance(statTypeDistance,'short') }}
      </div>
      <div>
        <img class='icon--stat' src='../../../static/assets/icon_time.png'/>
      </div>
      <div>
        {{ renderTime(statTypeTime, 'short') }}
      </div>
      <div>
        <img class='icon--stat' src='../../../static/assets/icon_elevation.png'/>
      </div>
      <div>
        {{ renderDistance(statTypeElevation, 'short') }}
      </div>
    </li>
  </ul>
</div>
