<div class='col'>
  <div class='stat-total row'>
    <img class='icon--large' :src='imgPath' />
    <h1>{{ statType && statType.count }}</h1>
  </div>


  <div :class='{collapsed: !toggleYearDetailView, expanded: toggleYearDetailView}'
    :style='animationHeightStyleInstruction'>
    <div class='col'>
      <img class='icon--stat' src='../../../static/assets/svgs/icon_distance.svg' />
      {{ renderDistance(statType && statType.distance, true) }}
    </div>

    <div class='col'>
      <img class='icon--stat' src='../../../static/assets/svgs/icon_time.svg' />
      {{ renderTime(statType && statType.moving_time, true) }}
    </div>

    <div class='col'>
      <img class='icon--stat' src='../../../static/assets/svgs/icon_elevation.svg' />
      {{ renderElevation(statType && statType.elevation_gain, true) }}
    </div>
  </div>

</div>