#month-changer {
  justify-content: center;
  position: absolute;
  right: calc(50vw - 100px);
  width: 200px;
}

.arrow {
  cursor: pointer;
  margin: 0 10px;
}

.arrow img:hover {
  filter: opacity(60%);
}

.arrow img {
  height: 25px;
  width: auto;
}

.disable{
  cursor: none;
  filter: opacity(20%);
}