<div id='month-changer' class='row sa'>

  <el-tooltip placement="top" :hideAfter='toggleTipTimeout' content="Last month">
    <div @click='changeMonth(-1)' class='arrow'>
      <img src='../../../static/assets/icon_arrow_left.png' />
    </div>
  </el-tooltip>

  <div class="heading" id="dateInView">
    <h3>{{ currentMonthString }} {{ yearInView }}</h3>
  </div>

  <div @click='changeMonth(1)' class='arrow' :class='{ disable: forwardArrowDisable }'>
    <el-tooltip placement="top" :hideAfter='toggleTipTimeout' content="Next month" :disabled='forwardArrowDisable'>
      <img src='../../../static/assets/icon_arrow_right.png' />
    </el-tooltip>
  </div>
</div>