<div id='week-changer' class='row sa'>

  <el-tooltip placement="top" :hideAfter='toggleTipTimeout' content="Previous week">
    <div @click='changeWeek(1)' class='arrow'>
      <img src='../../../static/assets/svgs/icon_arrow_left.svg' />
    </div>
  </el-tooltip>

  <div class="heading" id="dateInView">
    <h3>{{ weekInViewString(mondayInView) }}</h3>
  </div>

  <div @click='changeWeek(-1)' class='arrow' :class='{ disable: forwardArrowDisable }'>
    <el-tooltip placement="top" :hideAfter='toggleTipTimeout' content="Next week" :disabled='forwardArrowDisable'>
      <img src='../../../static/assets/svgs/icon_arrow_right.svg' />
    </el-tooltip>
  </div>
</div>