#month-stats{
  width: 100%;
  cursor: pointer;
  margin-top: 20px;
  border: #fff solid 1px;
  border-radius: 2px;
  padding: 10px 20px;
}

.month-stats__chart-box{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;

  animation-name: expandIn;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

.month-stats__chart-bar {
  margin: 2px;
}

.chart-bar {
  background: #3066BE;
  padding: 5px;
  display: flex;
}

@keyframes expandIn {
  0% {
    opacity: 0;
    transform: scale(0.5)
  }
  
  60% {
    transform: scale(1.1)
  }
  
  100% {
    opacity: 1;
    transform: scale(1);
  }
}