#month-stats{
  width: 100%;
  cursor: pointer;
  border-bottom: #fff solid 1px;
  padding: 10px 20px;
  margin-top: 20px;
}

#month-stats__chart-box{
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;

  animation-name: expandIn;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

.month-stats__count {
  justify-content: center;
  display: flex;
  width: 40px;
  font-size: 24px;
}

.month-stats__chart-bar {
  margin: 1px;
}

.chart-bar {
  border-bottom: #3066BE solid 6px;
  display: flex;
  flex-direction: row;
  margin-left: 5px;
}

@keyframes expandIn {
  0% {
    opacity: 0;
    transform: scale(0.5)
  }
  
  60% {
    transform: scale(1.1)
  }
  
  100% {
    opacity: 1;
    transform: scale(1);
  }
}