<div id='week-activities'>
  <div class='day-bar' v-for='day in dayLookUp' :key='day.index'>
    <div class='day-title'>{{ (day.substr(0, 3)).toUpperCase() }}</div>
    <div class='day' :class='{ active: dayHasActivities }' v-for='activity in dayActivities(day)' :key='activity.index'
      @click='viewActivity(activity.id)'>
      <div class='heading'>{{ activity.name }}</div>
      <div class='row data-metric' v-show="activity.type === 'Ride' || activity.type ==='Run'">
        <p class='spacer'>{{ renderDistance(activity.distance) }}</p>
        <p class='spacer'>{{ renderTime(activity.moving_time) }}</p>
        <p class='spacer'>{{ renderPace(activity.moving_time, activity.distance) }}</p>
      </div>
      <div class='row data-metric' v-show="activity.type === 'Swim'">
        <p class='spacer'>{{ renderSwimDistance(activity.distance) }}</p>
        <p class='spacer'>{{ renderTime(activity.moving_time) }}</p>
        <p class='spacer'>{{ renderSwimPace(activity.moving_time, activity.distance) }}</p>
      </div>
    </div>
  </div>
</div>