#week-activities {
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

#week-header{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  height: 40px;
}

#week-totals{
  margin: 5px 0px;
  border-radius: 3px;
}

.week-total-stat h1{
  margin: 10px;
}

.substat h4{
  margin: 0px;
}

.active {
  color: #6D9DC5;
  background-color: white;
  box-shadow: 2px 5px 30px #355c86;
  width: 100vw;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.day-bar {
  background-color: transparent;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 5px 0;
  overflow-x: scroll;
  overflow-y: hidden;

  animation-name: day-settle--active;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  align-content: center;
  align-items: center;
  cursor: pointer;
}

.day-title {
  display: flex;
  background-color:#3066BE;
  color: #AEECEF;
  padding: 10px;
  height: 45px;
  min-width: 45px;
  align-content: center;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.day{
  display: flex;
  background: linear-gradient(to bottom right, #3066be, #6d9dc5);
  height: 45px;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10px;
  pointer-events: none;
  color: white;
}

.arrow{
  padding: 0 10px;
}

@keyframes day-settle {
  from {
    width: 0px; 
  }
  to {
    width: 50px;
  }
}

@keyframes day-settle--active {
  from {
    width: 37px; 
    color: transparent
  }
  to {
    width: 100%;
    color: white;
  }
}

/* responsive css  */
@media all and (max-width: 700px) {
  .heading, .date, .data-metric{
    font-size: 12px;
  }
}