.week-activities {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.5rem;
}

.active {
  width: 100%;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}  

.day-bar {
  background-color: transparent;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  align-content: center;
  align-items: center;
  cursor: pointer;
}

.day-title {
  display: flex;
  background-color: var(--palette-smalt);
  color: var(--palette-white);
  padding: 10px;
  height: 100%;
  min-width: 60px;
  align-content: center;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.day{
  display: flex;
  color: var(--palette-white);
  background: var(--palette-cerulean);
  height: 100%;
  justify-content: flex-start;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.day > * {
  pointer-events: none;
}

/* responsive css  */
@media all and (max-width: 700px) {
  .heading {
    font-size: 14px;
    overflow: hidden;
  }
  
  .date, .data-metric{
    font-size: 12px;
  }
}