<div id='week-activities'
  :class='{collapsed: (!toggleWeekView || activitiesInWeek.length === 0), expanded: toggleWeekView}'
  :style='animationHeightStyleInstruction'>
  <div class='day-bar' v-for='day in dayLookUp' :key='day.index'>
    <div class='day-title'>{{ (day.substr(0, 3)).toUpperCase() }}</div>
    <div class='day' :class='{ active: dayHasActivities }' v-for='activity in dayActivities(day)' :key='activity.index'
      @click='viewActivity(activity.id)'>
      <div class='heading'>{{ activity.name }}</div>
      <div class='row data-metric'>
        <p class='spacer--medium'>{{ renderDistance(activity.distance) }}</p>
        <p class='spacer--medium'>{{ renderTime(activity.moving_time) }}</p>
        <p class='spacer--medium' v-show="activity.type ==='Run'">
          {{ renderPace(activity.moving_time, activity.distance) }}</p>
        <p class='spacer--medium' v-show="activity.type === 'Ride' || activity.type === 'VirtualRide'">
          {{ renderSpeed(activity.distance / activity.moving_time) }}</p>
        <p class='spacer--medium' v-show="activity.average_heartrate">{{ activity.average_heartrate }}bpm</p>
        <p class='spacer--medium' v-show=" activity.average_heartrate">
          {{ renderHRZone(activity.average_heartrate, HRZones) }}
        </p>
      </div>
      <div class='row data-metric' v-show=" activity.type==='Swim'">
        <p class='spacer--medium'>{{ renderSwimDistance(activity.distance) }}</p>
        <p class='spacer--medium'>{{ renderTime(activity.moving_time) }}</p>
        <p class='spacer--medium'>{{ renderSwimPace(activity.moving_time, activity.distance) }}</p>
        <p class='spacer--medium' v-show=" activity.average_heartrate">{{ activity.average_heartrate }}bpm</p>
        <p class='spacer--medium' v-show=" activity.average_heartrate">
          zone {{ renderHRZone(activity.average_heartrate, HRZones) }}
        </p>
      </div>
    </div>
  </div>
</div>