#week-activities {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 20px 100px 20px;
  animation-name: expandDown;
  animation-duration: 0.2s;
}

.active {
  color: #6D9DC5;
  background-color: white;
  box-shadow: 2px 5px 30px #355c86;
  width: 100vw;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}  

.day-bar {
  background-color: transparent;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 5px -5px;
  overflow-x: scroll;
  overflow-y: hidden;
  align-content: center;
  align-items: center;
  cursor: pointer;
}

.day-title {
  display: flex;
  background-color:#3066BE;
  color: #AEECEF;
  padding: 10px;
  height: 100%;
  min-width: 60px;
  align-content: center;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.day{
  display: flex;
  background: linear-gradient(to bottom right, #3066be, #6d9dc5);
  height: 100%;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10px;
  color: white;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.day > * {
  pointer-events: none;
}

.spacer {
  margin-right: 20px;
}

@keyframes expandDown {
  0% {
    height: 0px;
    opacity: 0;
  }
  100% {
    height: 560px;
    opacity: 100%;
  }
}

@keyframes closeUp {
  0% {
    height: 400px;
    opacity: 100%;
  }
  100% {
    height: 0px;
    opacity: 0;
  }
}



/* responsive css  */
@media all and (max-width: 700px) {
  .heading {
    font-size: 14px;
  }
  
  .date, .data-metric{
    font-size: 12px;
  }
}