<div class='year-changer row sa'>

  <el-button icon="el-icon-arrow-left" size='mini' circle @click='changeYear(-1)' :class='{ disable: yearInView === 2011 }'></el-button>
  
  <el-date-picker v-model="rawTimeInView" type="year" placeholder="Year" :default-value='currentYear'
  @change='setYearInView($event)' format='yyyy' size='small'>
  </el-date-picker>

  <el-button icon="el-icon-arrow-right" size='mini' circle @click='changeYear(1)' :class='{ disable: yearInView >= currentYear }'></el-button>

</div>