#event{
  overflow-x:hidden;
}

@keyframes enterEvent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.event-box{
  margin: 1px 2px;;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px #AEECEF solid;
  position: relative;
  min-height: 80px;

  animation-name: enterEvent;
  animation-duration: 1s;
  animation-direction: forward;
  transition: 0.5s;
}

.event-box:hover{
  background-color: #3066BE;
  color: #AEECEF;
}

.event-box:hover .icon {
  filter: invert(0%);
}

.event-box__detail{
  width: 95%;
  justify-content: flex-start;
  text-align: left;
  margin: 0 5px;
}

.animExpandVertical {
  animation-name: expandVertical;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes expandVertical {
  0% {
    transform: rotatex(90deg)
  }
  100% {
    transform: rotatex(0px)
  }
}

.icon__circle {
  background-color: #3066BE;
  border-radius: 50%;
  padding: 5px;
  box-sizing: content-box;
}

.event-category {
  text-transform: uppercase;
  background-color: #AEECEF;
  color: #3066BE;
  padding: 5px;
  margin: 5px 0;
  border-radius: 2px;
  font-size: 10px;
  width: 40px;
  text-align: center;
}

.edit-buttons{
  display: flex;
}

.event-date{
  margin: 0px;
}
