<div id='event' class='event-box row sb' @click='viewEvent = !viewEvent;' :class='{ animExpandVertical: viewEvent }'>
  <img v-show="event.type === 'Ride'" src='../../../static/assets/svgs/icon_bike--light.svg'
    class='icon--large icon__circle' />
  <img v-show="event.type === 'Run'" src='../../../static/assets/svgs/icon_run--light.svg'
    class='icon--large icon__circle' />
  <img v-show="event.type === 'Swim'" src='../../../static/assets/svgs/icon_swim--light.svg'
    class='icon--large icon__circle' />
  <img v-show="event.type === 'Triathlon'" src='../../../static/assets/icon_activities.png'
    class='icon--large icon__circle' />

  <div class='event-box__detail'>
    <h5 class='event-date'>{{ renderDate(event.date) }}</h5>
    <h3 class='truncate heading'>{{ event.title }}</h3>
    <span v-show='!pastEvent'>in {{ daysUntilEvent(event) }}</span>
    <span v-show='pastEvent'>{{ daysUntilEvent(event) }} ago</span>

    <div v-show='viewEvent'>
      <div class='event-category' v-show='event.category'>Race</div>
      <span>{{ event.description }}</span>
    </div>

  </div>
  <div class='event-item__more'>
    <i class="el-icon-more-outline " @click='showEditButtons' v-show='!viewEditButtons'></i>
    <div class='edit-buttons' v-show='viewEditButtons'>
      <i class='el-icon-edit' @click='editEvent(event)' size='mini'></i>
      <i class="el-icon-delete" @click='deleteEvent(event.id)' size='mini'></i>
      <i class="el-icon-close" @click='hideEditButtons' size='mini'></i>
    </div>
  </div>
</div>