<div id='event' class='event-box row sb' @click='viewEvent=!viewEvent'>
  <img v-show="event.type === 'Ride'" src='../../../static/assets/icon_bike.png' class='icon icon__circle' />
  <img v-show="event.type === 'Run'" src='../../../static/assets/icon_run.png' class='icon icon__circle' />
  <img v-show="event.type === 'Swim'" src='../../../static/assets/icon_swim.png' class='icon icon__circle' />
  <img v-show="event.type === 'Triathlon'" src='../../../static/assets/icon_activities.png' class='icon icon__circle' />

  <div class='event-box__detail'>
    <h5 class='event-date'>{{ renderDate(event.start_date) }}</h5>
    <div class='truncate'>{{ event.title }}</div>

    <div v-show='viewEvent'>
      {{ event.description }}
      <div class='event-category' v-show='event.category'>Race</div>
    </div>

  </div>

  <i class="el-icon-more-outline" @click='showEditButtons' v-show='!viewEditButtons'></i>
  <div class='edit-buttons'>
    <i class='el-icon-edit' @click='editEvent(event)' size='mini' v-show='viewEditButtons'></i>
    <i class="el-icon-delete" @click='deleteEvent(event.id)' v-show='viewEditButtons'></i>
    <i class="el-icon-close" @click='hideEditButtons' v-show='viewEditButtons'></i>
  </div>
</div>
