<div id='date-range-selector'>
  <div v-show='!showFixedStartDateForm' class='row sa'>
    <el-tooltip content='Set start date' placement="top">
      <el-date-picker v-model="startDate" type="date" placeholder="Start date" size='small' align='left'>
      </el-date-picker>
    </el-tooltip>

    <div class='date-range-connector'>to</div>
    <el-tooltip content='Set end date' placement="top">
      <el-date-picker v-model="endDate" type="date" placeholder="End date" size='small' align='right'>
      </el-date-picker>
    </el-tooltip>

    <el-tooltip content='Set fixed start date' placement="left">
      <el-button @click='editFixedStartDate' icon="el-icon-edit" size='mini' v-show='!showFixedStartDateForm'
        class='btn-edit' circle type='secondary'>
      </el-button>
    </el-tooltip>
  </div>

  <start-date-form v-show='showFixedStartDateForm' @onCloseForm='closeFixedStartDateForm'
    @onFixedStartDateUpdate='updateFixedStartDate($event)' :storedFixedStartDate='storedFixedStartDate'>
  </start-date-form>
</div>