#date-range-selector {
  margin: auto;
}

.el-date-editor.el-input, .el-date-editor.el-input__inner{
  width: 130px;
}

.date-range-connector{
  margin: 0 10px;
}

.el-button{
  position: absolute;
  right: 10px;
}