<div id='parkrun'>
  <nav-bar v-bind:pageTitle='pageTitle'></nav-bar>
  <park-run-sub-bar></park-run-sub-bar>
  <div id="park-run-latest" class="row">
    <img id="park-run-logo" src="../../assets/icon_park_run_logo.png"/>

    <div id='last-pr'>
      <select 
        id="park-run-select" 
        v-model='selectedParkRunName'
        v-on:change='setParkRunLocation()'>
        <option v-for='parkRun in parkRunDict' v-bind:key='parkRun.index' v-bind:value='parkRun.name'>{{ parkRun.name }}</option>
      </select>

      <div>LAST RAN: {{ renderDate(latestParkRun.start_date, "long") }}</div>

      <div class="last-pr__metric">{{ latestParkRun.name }}</div>

      <div class="last-pr__metric row sb">
        <div>{{ renderTime(latestParkRun.moving_time) }}</div>
        <div>{{ renderPace(latestParkRun.moving_time, latestParkRun.distance) }}</div>
      </div>
      
      <div class="last-pr__summary">
        <div>{{ computeLastPRContext() }}</div>
        <div>{{ computeYBContext() }}</div>
        <div>{{ computePBContext() }}</div>
      </div>
    </div>
  </div>
  
  <div id='pr-chart'></div>
</div>