#parkrun {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  height: 115vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

#park-run-logo{
  margin: 20px 0px 0px 10px;
  height: 50px;
  width: auto;
}

#last-pr{
  margin: 10px 0;
}

#park-run-select {
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  background-color: transparent;
  border-radius: 2px;
  color: white;
  margin: 10px -3px;
}

#park-run-latest{
  align-items: flex-start;
}

.last-pr__summary{
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#park-run-latest{
  font-size: 14px;
  align-items: flex-start;
  width: 100%;
  margin-top: 15px;
}

.last-pr__metric{
  margin: 5px 0;
  width: 225px;
  font-size: 25px;
}
