* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Abel', 'Lato', sans-serif;
  color: #fff;
  font-weight: 300;
  background: #6D9DC5 ;
}

#app {
  min-height: 100vh;
}

.row{
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.col{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.sb{
  justify-content: space-between;
}

.sa{
  justify-content: space-around;
}

.full-width{
  width: 100%;
}

/* ROTATIONS */
.rotate-180{
  transform: rotate(180deg);
}

/* TEXT */
h1, h2, h3, h4, h5, h6{
  font-weight: 100;
}

.text-content {
  font-family: 'Lato';
  font-weight: 300;
}

.spacer {
  margin-right: 20px;
}

.subheading {
  font-size: 14px;
  margin: 2px;
  color: white;
}

.date{
  text-align: right;
  font-size: 16px;
  padding-bottom: 10px;
}

.data-metric{
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  height: 35px;
  max-width: auto;
}

.truncate {
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.el-form-item__label,
.el-checkbox {
  color: white;
}

/* IMAGES */
.el-icon {
  height: 100px;
}

.icon {
  height: 1rem;
  width: auto;
  margin: 0 5px;
}

.icon__medium {
  height: 1.5rem;
}

.icon__large {
  height: 2rem;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon__xlarge {
  height: 5rem;
  width: auto;
}

.dark-icon {
  filter: invert(60%);
}

.avatar{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin: 10px;
}

.avatar-profile{
  height: 80px;
  width: 80px;
  border-radius: 10%;
  margin: 10px;
}

/* ANCHOR TAGS */
a {
  text-decoration: none;
  color: #AEECEF;
}

a:hover{
  color: #80DED9;
}

/* BUTTONS */
.hover:hover {
  color: #AEECEF;
  cursor: pointer;
}

.back-button {
  margin-top: 5px;
  margin-left: 6px;
}

.button {
  background-color: #AEECEF;
  color: #3066BE;
  border: none;
  border-radius: 3px;
  padding: 5px;
  margin: 5px;
}

.button--primary {
  width: 100px;
  background-color: #3066BE;
  color: #AEECEF;
  border: 1px solid #AEECEF;
}

.button--secondary {
  width: 100px;
  background-color: #AEECEF;
  border: 1px solid #AEECEF;
  color: #3066BE;
}

button:disabled,
button[disabled]{
  border: 1px solid #3066BE;
  background-color: #6D9DC5;
  color: #3066BE;
  pointer-events: none;
}

.btn{
  cursor: pointer;
  margin: 0.5rem;
}

.btn:hover{
  transform: scale(1.1);
}

.nav-icon {
  width: auto;
  height: 30px;
  margin: 0 5px;
  padding-top: 5px;
}

.nav-icon:hover {
  transform: scale(1.1);
}

.el-collapse{
  border-top: none;
  border-bottom: none;
  width: 100%;
}

.el-collapse-item > div{
  background-color: transparent;
}

.el-collapse-item__header{
  background-color: transparent;
  color: white;
}

.el-collapse-item__wrap{
  overflow: unset;
}

.el-carousel__container {
  overflow: hidden;
}

.profile{
  text-decoration: none;
  color: #AEECEF;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: auto;
  cursor: pointer;
  margin-top: 10%;
  padding: 20px;
}

.profile > h4, h6 {
  margin: 10px;
}

.profile:hover > img{
  box-shadow: 10px 10px 20px #3066BE;
}

.el-tooltip__popper{
  text-align: center;
  color: #3066BE;
}

.activity-list{
  height: 100%;
  overflow-y: scroll;
}

.sub-bar{
  background: #3066BE;
  padding: 15px;
  display: flex;
  align-items: center;
}

/* responsive css  */
@media all and (max-width: 700px) {
  .heading, .date, .data-metric {
    font-size: 14px;
  }

  table {
    font-size: 11px;
  }
}