<div id='events'>
  <cap :pageTitle='pageTitle' showNav></cap>
  <div class='sub-bar row'>
    <span v-show='!showForm' class='events-summary'>Events<h2>{{ events.length }}</h2></span>
    <span v-show='!showForm' class='events-summary'>Races<h2>{{ numberOfRaces }}</h2></span>
    <span v-show='!showForm' class='events-summary-time'>{{ nextEvent }} in <h2>{{ timeToNextEvent }}</h2></span>
    <div class='row'>
      <el-button @click='addEvent' icon="el-icon-plus" size='mini' v-show='!showForm' class='create-button--no-label'>
      </el-button>
      <el-button @click='addEvent' icon="el-icon-plus" size='mini' v-show='!showForm' class='create-button--label'>
        Event
      </el-button>
      <el-button @click='addEvent' size='mini' v-show='showForm'>Cancel</el-button>
    </div>
  </div>

  <eventForm v-show='showForm' :event='event' :isEditing='isEditing' @onCloseForm='closeForm'></eventForm>

  <div v-show='!showForm'>
    <eventItem v-for='event in upComingEvents' :key='event.index' :event='event' v-on:onEditEvent='editEvent($event)'
      :pastEvent='false'>
    </eventItem>
  </div>

  <div class='sub-bar row' v-show='!showForm'>
    <span class='events-summary-time'>{{ pastEvents.length }} past events</span>
  </div>
  <div v-show='!showForm'>
    <eventItem v-for='event in pastEvents' :key='event.index' :event='event' v-on:onEditEvent='editEvent($event)'
      :pastEvent='true'>
    </eventItem>
  </div>
</div>