#events{
  height: 100vh;
  overflow: hidden;
}

.events-list {
  height: 85vh;
overflow-y: scroll;
padding: 0 5%;
}

.events-summary {
  width: 15%;
  padding: 0 10px;
}

.filter{
  height: 16px;
}

.sub-bar__collapsed{
  width: 100vw;
  justify-content: flex-end;
  padding-right: 10px;
}

.sub-bar__expanded{
  width: 100vw;
  align-items: center;
}

.selectedButton {
  filter: opacity(40%) blur(1px);
  box-sizing: content-box;
}
