#events{
  height: 100%;
  overflow: hidden;
}

.sub-bar{
  flex-grow: 1;
}

.events-summary {
  width: 15%;
  padding: 0 10px;
  text-align: center;
}

.events-summary-time{
  padding: 0 10px;
  width: 50%;
  flex-grow: 1;
}

.selectedButton {
  filter: opacity(40%) blur(1px);
  box-sizing: content-box;
}
