#events{
  height: 100%;
  overflow: hidden;
}

.sub-bar{
  flex-grow: 1;
  margin: 0px;
}

.events-summary {
  padding: 0 10px;
  text-align: center;
}

.events-summary-time{
  padding: 0 10px;
  flex-grow: 1;
}

.selectedButton {
  filter: opacity(40%) blur(1px);
  box-sizing: content-box;
}

.create-button--label {
  display: block;
}

.create-button--no-label {
  display: none;
}

@media all and (max-width: 700px) {
  .create-button--label {
    display: none;
  }

  .create-button--no-label {
    display: block;
  }
}
