.nav-button {
  cursor: pointer;
  z-index: 2;
  width: 70px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0px 1px;
  margin-top: 10px;
}
.nav-button h6 {
  margin-top: 2px;
  color: #3066BE;
}

.nav-button:hover {
  border-bottom: 2px solid #6D9DC5;
}

.navBtnSelected {
  border-bottom: 2px solid #3066BE;
}