<div id="week-totals" class="row sa week-total-stat">
  <h1>{{ weekActivitiesCount }}</h1>
  <div class='col'>
    <div class='row substat'>
      <img class='icon' src='../../assets/icon_run.png'/>
      <h4>{{ countActivityType('Run') }}</h4>
    </div>
    <div class='row substat'>
      <img class='icon' src='../../assets/icon_bike.png'/>
      <h4>{{ countActivityType('Ride') }}</h4>
    </div>
    <div class='row substat'>
      <img class='icon' src='../../assets/icon_swim.png'/>
      <h4>{{ countActivityType('Swim') }}</h4>
    </div>
  </div>

  <div class='row week-total-stat'>
    <img class='icon icon-large' src='../../assets/icon_distance.png'/>
    <h2>{{ weekDistance }}</h2>
  </div>

  <div class='row week-total-stat'>
    <img class='icon icon-large' src='../../assets/icon_time.png'/>
    <h2>{{ renderTime(weekTime) }}</h2>
  </div>
</div>
